alabaster==0.7.12
appdirs==1.4.4
Babel==2.10.1
beautifulsoup4==4.10.0
breezy==3.2.1
btrfsutil==5.18
CacheControl==0.12.6
cffi==1.15.0
chardet==4.0.0
click==8.1.3
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
crit==0.0.1
cryptography==37.0.1
discid==1.2.0
distlib==0.3.4
distro==1.7.0
docutils==0.17.1
faiss==1.7.2
fasteners==0.17.3
greenlet==1.1.2
html5lib==1.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.8.1
jieba==0.42.1
Jinja2==3.1.2
libfdt==1.6.1
libtorrent==2.0.6
linkify-it-py==2.0.0
lxml==4.8.0
Markdown==3.3.7
markdown-it-py==2.1.0
MarkupSafe==2.1.1
mdit-py-plugins==0.3.0
mdurl==0.1.1
mercurial==6.1.2
meson==0.62.1
more-itertools==8.12.0
msgpack==1.0.3
mutagen==1.45.1
mwclient==0.10.1
myst-parser==0.18.0
netsnmp-python==1.0a1
nftables==0.1
notmuch==0.36
notmuch2==0.36
numpy==1.22.3
oauthlib==3.2.0
OpenCC==1.1.3
ordered-set==4.0.2
packaging==21.3
patiencediff==0.2.2
pep517==0.12.0
picard==2.7.3
ply==3.11
podman-compose==1.0.3
progress==1.6
protobuf==3.20.1
pybind11==2.9.2
pycparser==2.21
pydata-sphinx-theme==0.8.1
Pygments==2.12.0
PyJWT==2.2.0
pynvim==0.4.3
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5-sip==12.10.1
PySide2==5.15.4
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
resolvelib==0.5.5
retrying==1.3.3
shiboken2==5.15.4
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.5.0
sphinx-comments==0.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
svgwrite==1.4.1
TBB==0.2
team==1.0
toml==0.10.2
tomli==2.0.1
tqdm==4.64.0
typing-extensions==4.2.0
uc-micro-py==1.0.1
urllib3==1.26.9
validate==5.1.0.dev0
webencodings==0.5.1
you-get==0.4.1602
zipp==3.8.0
