@use "../fn" as *;

#footnotes {
  font-size: 1.6rem;
}

footer {
  margin: 1rem 2rem;

  .foot-container {
    color: var(--dimGrey);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      p {
        margin: 1rem 0;
      }
    }

    .right {
    }

    .ti {
      font-size: 2.4rem;
    }
  }

  .footer-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50vh 0 0 -0.555rem;
    width: 100%;
    text-wrap: nowrap;

    a {
      &::before {
        all: unset;
      }

      &:active,
      &:focus,
      &:hover {
        color: var(--color-pink-300);
      }
    }

    .tags {
      width: 60%;
      overflow: scroll;

      a {
        &::before {
          content: "#";
        }
      }
    }

    .author {
      align-self: flex-end;
      margin-right: -0.555rem;

      a {
        &::before {
          content: "@";
        }
      }
    }
  }
}

.footnote-definition {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin: 3rem 2rem;

  .footnote-definition-label {
    display: block;
    color: var(--color-gray-500);
    font-size: 1.5rem;
  }

  p {
    display: block;
  }
}

.card {
  .left {
  }

  .right {
    .prev {
    }

    .next {
    }
  }
}
