.music_card {
  padding: 1rem;

  .l1 {
    background: #f5f5f5;
    padding: 0.4rem;
    border-radius: 9px;
  }

  .l1 > .l2 {
    background: #fdfdfd;
    border-radius: 6px;
    box-shadow:
      0 0 #000,
      0 0 #000,
      0 1px 2px #00000003;
    border: 0.5px solid #eee;

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0.5rem;

      .img {
        min-width: 4rem;
        min-height: 4rem;
        background: red;
        border-radius: 3px;
        animation: _ 1s ease-in;

        @keyframes _ {
          0% {
            clip-path: circle(0 at center);
            opacity: 10%;
          }
          100% {
            clip-path: circle(100% at center);
            opacity: 100%;
          }
        }
      }

      .txt {
        width: 100%;
        padding: 0 1rem;

        .title {
        }
        .author {
        }
        .sync {
          display: flex;
          justify-content: flex-end;

          span {
          }
        }
      }
    }
  }

  .l1 > .bar {
    display: flex;
    justify-content: space-between;
    margin: 0.6rem 0.4rem;

    .left {
      display: flex;
      align-items: baseline;

      .txt {
        opacity: 40%;

        &::before {
          content: " ";
          display: inline-block;
          width: 0.5rem;
          height: 0.5rem;
          background: #000;
          border-radius: 50%;
          opacity: 80%;
          margin-right: 0.5rem;
        }
      }
    }

    .right {
      display: flex;

      .day {
        margin-right: 0.3rem;
        color: #000;
      }
      .suffix {
        opacity: 60%;
      }
    }
  }
}
