@use "../theme";
@use "../fn" as *;

blockquote {
  // text-indent: 2em;
  background: var(--color-gray-200);
  width: auto;
  padding: 1rem;
  margin: 1rem 2rem;
  border: 1px dashed var(--color-gray-400);

  p {
    margin: 0 auto;
  }
}
