.review {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 1rem;
  margin: 1rem 0;
}

.review .top {
  display: flex;
  max-height: 40vh;
  margin: 0 0 1rem 0;

  hr {
    margin: 0 0.5rem;
    border: 0;
    border-radius: 0;
    width: 0.3px;
    background: #eee;
  }

  .left {
    width: 80%;
    max-width: 80%;
    overflow: scroll;
  }

  .right {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cover {
      display: block;
      $p: 0.333rem;
      padding: $p $p 1rem $p;
      margin: auto 0;
      width: auto;
      max-width: 100%;
      max-height: 35vh;
      box-shadow:
        0 0 #000,
        0 0 #000,
        0 1px 2px #00000003;
      border: 0.1px solid #eee;
      border-radius: 0.8px;

      img {
        margin: 0 0;
      }
    }
  }
}

.review .bottom {
  display: block;

  hr {
    margin: 1rem 0;
    border: 0;
    border-radius: 0;
    background: #eee;
    height: 1px;
  }

  .tag {
    all: unset;
    display: inline-block;
    color: #fff;
    background: var(--color-pink-200);
    font: normal small-caps 600 1.6rem / 1 var(--font-text);
    margin-right: 0.333rem;
    padding: 0.333rem 0.777rem 0.555rem 0.555rem;
    height: 1rem;

    &::before {
      all: unset;
    }
  }

  .text {
    * {
      all: unset;
    }

    p {
      display: block;
      text-decoration-line: underline;
      text-decoration-color: rgba(0, 0, 0, 0.1);
      text-orientation: sideways;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
  }
}

.review .list {
  display: block;

  .ep {
    display: flex;
    margin: 0 0 1rem 0;

    .meta {
      display: flex;
      height: 1rem;
      background: black;
      padding: 0.2rem 0.3rem;
      border-radius: 1px;
      justify-content: center;
      min-width: 3rem;
    }

    .idx {
      font-size: 0.8rem;
      color: white;
      margin: 0 0.2rem 0 0;

      &:before {
        content: "№.";
      }
    }

    .score {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 0.6rem;
      height: 0.65rem;
      color: rgba(255, 255, 255, 0.8);
      border-bottom: 0.6px solid rgba(255, 255, 255, 0.7);
    }
  }

  .text {
    * {
      all: unset;
    }
    p {
      display: block;
      font: normal normal 400 1.2rem / 1.2 var(--font-text);
      white-space: pre-line;
    }
    margin: 0 0 0 1rem;
  }
}
