.vec-star {
  display: inline-flex;
  align-items: center;
  position: relative;

  .overlay {
    background: red;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
  }
}

.star {
  width: 1rem;
  height: 1rem;
  margin-right: 2px;
  display: flex;
  color: #f8d448;
  fill: green;
  &:last-of-type {
    margin-right: 0;
  }
}
