@use "sass:color";
@use "../fn";

table {
  $br: 0.9rem;

  display: block;
  font: normal normal 500 var(--size-table) / 1 var(--font-text);
  max-height: 80vh;
  margin: 1rem 0;
  border-top: 1px solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  // border-radius: $br;
  border-collapse: separate;
  border-spacing: 0;
  overflow: scroll;
  scroll-snap-type: both mandatory;
  word-break: keep-all;
  scrollbar-width: none;

  th,
  td {
    width: 100%;
    padding: 1rem 2rem;
    scroll-snap-align: end start;
  }

  th {
    position: sticky;
    top: 0;
    background: var(--color-gray-200);
    border-bottom: 1px solid var(--color-gray-300);
  }

  td {
  }

  tr:nth-child(even) {
    background: var(--color-gray-200);
  }
}

.books {
  th {
    text-transform: capitalize;
  }
}
