@use "../fn" as *;

p {
  position: relative;
  display: block;
  color: var(--fg);
  text-wrap: pretty;
  word-break: auto-phrase;
  text-autospace: normal;
  text-spacing-trim: normal;
  font: normal normal 500 var(--size-text) / 1.65 var(--font-text);
  // font-size: clamp(1rem, 0.5rem + 2.5vw, 3rem);
  font-feature-settings: "palt" 1;
  // letter-spacing: 0.12em;
  margin: 1rem 2rem;

  &:has(img) {
    margin: 1rem 0;
  }

  &:not(> img) {
    max-inline-size: 50ch;

    @include mobile() {
      max-inline-size: 40ch;
    }
    @include tablet() {
      max-inline-size: 50ch;
    }
    @include desktop() {
      max-inline-size: 55ch;
    }
  }

  margin-bottom: calc(var(--main-font-size) * 1.2);
}

// p:first-of-type {
//   text-indent: 2em;
// }

a,
p > code {
  display: inline-block;
  position: relative;
  padding: 0 0.333rem;

  font: normal normal 500 var(--size-text) / 1.45 var(--font-text);
  color: var(--a-fg);
  text-decoration: none;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: inherit;
    background: var(--a-bg-hover);
    @include float(0, 0, 0, 0);
  }

  &:hover {
    // background-image: linear-gradient(to right, black 50%, transparent 0);
    // background-size: 200% 100%;
    // background-position: right;
    color: white;
    animation: _ 500ms ease-in-out forwards;

    @keyframes _ {
      // 100% {
      //   background-position: 0;
      // }
      0% {
      }
      1% {
        clip-path: inset(0 0 0 100%);
      }
      25% {
        clip-path: inset(0 0 0 0);
      }
      50% {
        clip-path: inset(0 0 0 15%);
      }
      100% {
        clip-path: inset(0 0 0 0);
      }
    }
  }
}

// inline code
p > code {
  display: inline-block;
  position: relative;
  padding: 0 0.333rem;

  background: var(--color-pink-50);
  border-top: 2px solid var(--color-pink-25);
  border-bottom: 2px solid var(--color-pink-25);
  word-break: break-all;
}

// URL
main > p > a[href] {
  &:hover {
    color: var(--a-fg);
    text-decoration: underline solid var(--header-underline) 0.2rem;
    text-underline-offset: 0.255rem;
    animation: none;
  }
}

// REFS: https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-east-asian
