.timeline {
  display: block;
  position: relative;
  padding: 0 3.333rem 0 0;

  & li {
    list-style-type: none;
    font: normal normal 500 var(--size-text) / 1.65 var(--font-text);

    // dot
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      top: 1rem;
      left: 1.688rem;
      border-radius: 50%;
      background: var(--color-pink-200);
    }

    // line
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      // min-height: 3rem;
      height: 100%;
      top: 0.433rem;
      left: 1.999rem;
      border-radius: 2px;
      background: var(--color-pink-200);
    }
  }

  & .txt {
  }

  & .date {
    display: flex;
    justify-content: flex-end;

    & span {
      font: normal normal 600 1rem / 1 var(--font-meta);
      color: var(--color-gray-700);
    }
  }
}
