.timeline {
  position: relative;
  display: block;
  padding: 0 3.333rem 0 0;
  margin: 3rem auto;

  li {
    list-style-type: none;

    // dot
    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      top: 1rem;
      left: 1.688rem;
      border-radius: 50%;
      background: var(--color-pink-200);
    }

    // line
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      // min-height: 3rem;
      height: 100%;
      top: 0.433rem;
      left: 1.999rem;
      border-radius: 2px;
      background: var(--color-pink-200);
    }
  }

  .txt {
    margin-left: -2.555rem;
  }

  .date {
    display: flex;
    justify-content: flex-end;

    span {
      font: normal normal 400 1rem / 1.2 var(--font-title);
      color: var(--color-gray-500);
    }
  }
}
