h1,
h2,
h3,
h4,
h5,
h6 {
  font: normal normal 600 1.8rem / 1.2 var(--font-title);
  text-align: left;
  text-rendering: optimizeLegibility;
  text-wrap: balance;
  word-break: break-word;

  margin-top: 2.333rem;
  color: var(--title-fg);
}

h1 {
  font-size: calc(var(--h1-scale) * var(--size-title));
  line-height: 1.3;
  text-align: center;
  text-transform: capitalize;
  border-left: none;

  margin: -2rem 0 0 -0.7rem;
}

@for $i from 2 through 6 {
  h#{$i} {
    font-size: calc(var(--h#{$i}-scale) * var(--size-title));
  }
}
