@use "fn" as *;

@use "theme";

@use "page/blog";

@use "ui/anim";
@use "ui/jou2";
@use "ui/code";
@use "ui/footer";
@use "ui/header";
@use "ui/img";
@use "ui/layout";
@use "ui/meta";
@use "ui/misc";
@use "ui/quote";
@use "ui/space";
@use "ui/table";
@use "ui/text";
@use "ui/timeline";
@use "ui/title";

// @use "layout/masonry";

:root {
  font-size: 62.5%;
  // scrollbar-width: thin;
  scrollbar-gutter: stable;
  // scrollbar-color: var(--dimGrey) var(--bg);

  ::selection {
    color: white;
    background: var(--color-soft-pink);
  }

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

body {
  background: var(--body-bg);
  margin: 5px 3px;
}

.wrapper {
  max-width: var(--max-page-width);
  position: relative;
  color: var(--fg);
  background: var(--bg);
  border-radius: 2px;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
  min-height: 100vh;
}

main {
  display: block;
  position: relative;
  & > :not(pre, blockquote),
  & > div {
    margin: 1rem 3.333rem 0 3.777rem;

    // // FIXME:
    // @include mobile() {
    //   margin: 1rem 2.333rem 0 2.777rem;
    // }
  }
  & > p:has(> img),
  .jou2,
  .timeline {
    margin: 1rem auto;
  }

  @include desktop() {
    text-align: justify;
  }
}

// REFS: https://edu.gcfglobal.org/en/beginning-graphic-design/
