@charset "UTF-8";

@mixin ff($name, $ext) {
  $root: "/fonts/";

  @font-face {
    font-family: $name;
    font-display: swap;
    src: url($root + $name + $ext);
  }
}

$fonts:
  [ "ChillRoundFRegular",
  "ChillRoundFBold",
  ];

@each $name in $fonts {
  @include ff($name, ".otf");
}

$fonts-ttf:
  [ "HackNerdFontMono-Italic",
  "HackNerdFontMono-Regular",
  ];

@each $name in $fonts-ttf {
  @include ff($name, ".ttf");
}

:root {
  --font-text: "ChillRoundFRegular", sans;
  --font-quote: "ChillRoundFRegular", sans;
  --font-meta: "Noto Sans", serif;
  --font-title: "Noto Sans", serif;
  --font-code: "HackNerdFontMono-Regular", monospace;
  --font-code-italic: "HackNerdFontMono-Italic", monospace;
  --font-ex: "Bungee", sans;
}

:root {
  --size-text: 1.675rem;
  --size-quote: 1.675rem;
  --size-code: 1.575rem;
  --size-table: 1.375rem;
  --size-header: 1.2rem;
  --size-meta-date: 0.9rem;
  --size-meta-category: 1rem;

  --size-title: 1.6rem;
}

:root {
  --color-red-50: oklch(95.68% 0.022 7.17);
  --color-red-100: oklch(89.31% 0.057 11.54);
  --color-red-400: oklch(65.39% 0.193 25.14);
  --color-red-500: oklch(64.27% 0.215 28.81);
  --color-hard-red: oklch(60.45% 0.186 19.16);

  --color-orange-50: oklch(94.78% 0.02 25.17);
  --color-orange-200: oklch(87.41% 0.11 76.47);
  --color-orange-300: oklch(82.87% 0.145 73.54);
  --color-orange-400: oklch(68.75% 0.142 21.46);
  --color-orange-500: oklch(67.92% 0.213 36.53);
  --color-deep-orange-300: oklch(75.46% 0.151 38.46);
  --color-deep-orange-400: oklch(71.24% 0.185 37.77);
  --color-hard-orange: oklch(65% 0.211 32);

  --color-yellow-50: oklch(99% 0.029 102.67);
  --color-yellow-100: oklch(97.39% 0.068 102.19);
  --color-yellow-500: oklch(92.85% 0.18 102.5);
  --color-soft-yellow: oklch(87.27% 0.146 86.73);
  --color-hard-yellow: oklch(83.2% 0.151 78.99);

  // TODO:
  --color-green-25: oklch(91.31% 0.03 148.21);
  --color-green-50: oklch(95.71% 0.021 147.64);
  --color-green-100: oklch(89.52% 0.05 146.04);
  --color-green-200: oklch(80.52% 0.05 146.04);
  --color-green-500: oklch(67.31% 0.162 144.21);
  --color-soft-green: oklch(81.01% 0.149 130.36);
  --color-hard-green: oklch(75.03% 0.153 130.66);

  --color-soft-mint: oklch(77.25% 0.127 172.82);
  --color-hard-mint: oklch(71.6% 0.123 172.35);

  --color-soft-aqua: oklch(76.19% 0.116 224.79);
  --color-hard-aqua: oklch(70.8% 0.118 227.19);

  --color-blue-50: oklch(95.32% 0.022 239.43);
  --color-blue-100: oklch(88.48% 0.055 243.39);
  --color-blue-500: oklch(65.82% 0.169 248.81);
  --color-soft-blue: oklch(68.56% 0.136 255.18);
  --color-light-blue-500: oklch(69.91% 0.157 238.99);
  --color-hard-blue: oklch(62.72% 0.142 256.1);

  --color-purple-25: oklch(97.68% 0 322.11);
  --color-purple-50: oklch(93.76% 0.026 321.94);
  --color-purple-100: oklch(84.44% 0.068 321.36);
  --color-purple-200: oklch(74.37% 0.116 321.55);
  --color-purple-300: oklch(67.55% 0.162 321.61);
  --color-purple-400: oklch(59.63% 0.194 321.59);
  --color-purple-500: oklch(51.68% 0.215 321.24);
  --color-purple-600: oklch(49.01% 0.208 317.97);
  --color-purple-700: oklch(45.33% 0.199 312.96);
  --color-purple-800: oklch(42.02% 0.19 308.04);
  --color-soft-purple: oklch(71.86% 0.13 296.26);
  --color-hard-purple: oklch(64.76% 0.144 295.24);

  --color-pink-25: oklch(98.15% 0.025 354.44);
  --color-pink-50: oklch(94.66% 0.028 355.11);
  --color-pink-100: oklch(85.33% 0.075 356.33);
  --color-pink-200: oklch(76.57% 0.222 358.96);
  --color-pink-300: oklch(68.78% 0.18 1.96);
  --color-pink-400: oklch(63.92% 0.185 5.28);
  --color-pink-500: oklch(60.62% 0.225 9.63);
  --color-pink-500-A60: oklch(60.62% 0.225 9.63 / 60%);
  --color-pink-600: oklch(57.37% 0.218 7.85);
  --color-pink-700: oklch(63.13% 0.202 5.62);
  --color-pink-800: oklch(48.98% 0.187 2.53);
  --color-pink-900: oklch(41.52% 0.16 355.69);
  --color-hard-pink: oklch(63.92% 0.2 5.28);
  --color-soft-pink: oklch(74.86% 0.14 346.08);
  /* CSS 5
   * --color-hard-pink: oklch(
    from var(--color-soft-pink) calc(l - 6%) calc(c + 0.01) calc(h - 1)
  */

  --color-soft-gray-light: oklch(97.55% 0.005 258.32);
  --color-hard-gray-light: oklch(93.29% 0.006 255.48);

  --color-soft-gray-medium: oklch(85.92% 0.012 259.82);
  --color-hard-gray-medium: oklch(76.07% 0.018 256.3);

  --color-soft-gray-dark: oklch(53.18% 0.02 256.34);
  --color-hard-gray-dark: oklch(40.66% 0.019 257.26);

  --color-soft-white: oklch(93.6% 0 0);
  --color-hard-white: oklch(87.6% 0 0);

  --color-soft-black: oklch(38% 0 0);
  --color-hard-black: oklch(32% 0 0);
  --color-black-600: oklch(56.24% 0 89.88);
  --color-black-700: oklch(49.26% 0 89.88);
  --color-black-800: oklch(37.91% 0 89.88);
  --color-black-900: oklch(24.78% 0 89.88);

  --color-gray-25: oklch(99.15% 0 89.88);
  --color-gray-50: oklch(98.51% 0 89.88);
  --color-gray-100: oklch(98.02% 0 89.88);
  --color-gray-200: oklch(94.91% 0 89.88);
  --color-gray-300: oklch(90.67% 0 89.88);
  --color-gray-310: oklch(95.04% 0 89.88);
  --color-gray-320: oklch(92.45% 0 89.88);
  --color-gray-400: oklch(79.84% 0 89.88);
  --color-gray-500: oklch(69.93% 0 89.88);
  --color-gray-600: oklch(56.24% 0 89.88);
  --color-gray-700: oklch(49.26% 0 89.88);
  --color-gray-800: oklch(37.91% 0 89.88);
  --color-gray-850: oklch(30.55% 0 89.88);
  --color-gray-900: oklch(24.78% 0 89.88);
  --color-gray-1000: oklch(11.55% 0 89.88);
}

:root {
  --desktop-width: 960px;
  --max-page-width: 64rem;

  --h1-scale: 2;
  --h2-scale: 1.5;
  --h3-scale: 1.27;
  --h4-scale: 1;
  --h5-scale: 0.77;
  --h6-scale: 0.5;
  --h7-scale: 0.27;

  --rem-0333: 0.333rem;
  --pre-code-padding: 1.333rem;
  --pre-code-br: var(--rem-0333);
  --pre-code-width: 95%;
}

:root {
  --bg: var(--color-gray-50);
  --fg: var(--color-gray-800);

  --body-bg: var(--color-pink-200);

  --h-fg: var(--color-pink-300);
  --title-fg: var(--color-pink-400);
  --pound-fg: var(--color-gray-300);

  --header-underline: var(--color-pink-200);
  --home-year-fg: var(--color-pink-500);

  --primary: var(--color-hard-pink);
  --secondary: var(--color-hard-green);
  --nav-fg: var(--color-hard-black);
  --nav-bg: var(--color-hard-orange);

  --a-fg: var(--color-pink-300);
  --a-bg-hover: var(--color-pink-200);

  --code-fg: var(--color-pink-300);
  --code-bg: var(--color-pink-50);
  --codeblock-bg: #282828;

  --linenos-fg: var(--color-gray-600);
  --code-bar-fg: var(--color-gray-310);

  --hover-bg: #e8e0e8;

  --metaData-fg: var(--color-hard-black);
  --hovColor: #22453f;
  --bgSelect: #fffae1;
  --red: #d26878;
  --dimRed: #623039;
  --orange: #e08f67;
  --dimOrange: #926048;
  --yellow: #e08f67;
  --dimYellow: #d5c5a1;
  --green: #56afa0;
  --title: var(--color-hard-green);
  --dimGreen: #3e615c;
  --blue: #5690af;
  --dimBlue: #223844;
  --purple: #9271d6;
  --dimPurple: #47356c;
  --grey: #cbcdcd;
  --dimGrey: #88858b;
}

// TODO:
@media (prefers-color-scheme: dark) {
  :root {
  }
}

// REFS(theme): https://huetone.ardov.me/
// REFS(theme): https://codepen.io/rodriguesmarcos/pen/wvyMoO
// REFS(oklch): https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl#comparing-oklch-with-other-css-color-formats
