<div class="footer-meta">
  <div class="tags">
    {% if page.taxonomies.category %}
      <a class="category" href="/category/{{ page.taxonomies.category[0] | slugify }}">{{ page.taxonomies.category[0] }}</a>
    {% endif %}

    {% if page.taxonomies.tags %}
      {% for tag in page.taxonomies.tags %}
        <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    {% endif %}
  </div>
  <div class="author">
    {% if config.author and config.extra.display_author == true %}
    <a href="{{ config.extra.contact_me }}">{{ config.author }}</a>
    {% endif %}
  </div>
</div>

<hr />

<div class="card">
  <div class="left"></div>
  <div class="right">
    <div class="prev"></div>
    <div class="next"></div>
  </div>
</div>

<div class="foot-container">
  <div class="left">
    <p>License: <a target="_blank" rel="noopener noreferrer"
        href="https://en.wikipedia.org/wiki/MIT_License">MIT</a><br>
      Built with <a target="_blank" rel="noopener noreferrer" href="https://www.getzola.org">Zola</a>, theme based on <a
        href="https://github.com/Speyll/anemone">anemone</a>.
    </p>
  </div>
  {% if config.generate_feed %}
  <div class="right">
    <a class="icons__background" 
        target="_blank" rel="noopener noreferrer" 
        href="{{ get_url(path="atom.xml",trailing_slash=false) }}" 
        title="Subscribe via RSS for updates."
    >
      <i class="ti ti-rss"></i>
    </a>
  </div>
  {% endif %}
</div>
