{% for page in section.pages %} {% if page.taxonomies.category and
page.taxonomies.category[0] == "journal" %} {% continue %} {% endif %}

<div class="pcard">
  <div class="title">
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </div>

  <div class="desc">
    {% if page.description %}
    <p>{{ page.description }}</p>
    {% endif %}
  </div>

  <div class="meta">
    {% if page.taxonomies.tags %}
    <div class="vec">
      {% if page.taxonomies.category %} {% set category =
      page.taxonomies.category[0] %}
      <a class="category" ctx="{{ category }}" href="/category/{{ category }}">
        {{ category }}
      </a>
      {% endif %} {% for tag in page.taxonomies.tags %}
      <a href="/tags/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}
