<script
  defer
  src="{{ get_url(path='js/script.js', trailing_slash=false) | safe }}"
></script>
<script
  defer
  src="{{ get_url(path='js/code_bar.js', trailing_slash=false) | safe }}"
></script>

<script
  defer
  type="module"
  src="{{ get_url(path='js/icons.js', trailing_slash=false) | safe }}"
></script>

<script
  defer
  type="module"
  src="{{ get_url(path='js/heif.js', trailing_slash=false) | safe }}"
></script>

<script
  defer
  type="module"
  src="{{ get_url(path='js/carousel_card.js', trailing_slash=false) | safe }}"
></script>

<script
  defer
  type="module"
  src="{{ get_url(path='js/anim.js', trailing_slash=false) | safe }}"
></script>
<script
  defer
  type="module"
  src="{{ get_url(path='js/mermaid.js', trailing_slash=false) | safe }}"
></script>

<script defer src="https://cdn.jsdelivr.net/npm/d3@latest"></script>
<script defer src="https://esm.sh/css-doodle/css-doodle.min.js?raw"></script>

<script src="https://unpkg.com/lucide"></script>
<script defer>
  lucide.createIcons();
</script>

<div class="wrap-giscus">
  <script
    defer
    src="https://giscus.app/client.js"
    data-repo="rsuu/rsuu.github.io"
    data-repo-id="R_kgDOMPkDCg"
    data-category="General"
    data-category-id="DIC_kwDOMPkDCs4CjHDF"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
  ></script>
</div>
