{% extends '!layout.html' %}

{%- block extrahead %}

{% if super %}
{% endif %}

{{ super() }}
{%- endblock %}

{% if tags %}
  <nav class="md-tags" {{ hidden }}>
    {% for tag in tags %}
      {% if tag.url %}
        <a href="{{ tag.url | url }}" class="md-tag">
          {{ tag.name }}
        </a>
      {% else %}
        <span class="md-tag">{{ tag.name }}</span>
      {% endif %}
    {% endfor %}
  </nav>
{% endif %}

  <nav class="md-tags" {{ hidden }}>
    {% for tag in tags %}
      {% if tag.url %}
        <a href="{{ tag.url | url }}" class="md-tag">
          {{ tag.name }}
        </a>
      {% else %}
        <span class="md-tag">{{ tag.name }}</span>
      {% endif %}
    {% endfor %}
  </nav>