<box>
  <div class="jchart">
    <div class="header">参议院选举 选举席次</div>
    <div class="bar">
      <div class="l1">
        <div class="left">执政党</div>
        <div class="center">
          <div class="count">
            剩余 <span class="zero">0</span>/<span>465</span> 席
          </div>
        </div>
        <div class="right">在野党</div>
      </div>
      <div class="l2">
        <div class="left"><span>215</span>席</div>
        <div class="center"></div>
        <div class="right"><span>250</span>席</div>
      </div>
    </div>
    <div class="chart">
      <div class="line"></div>
      <div class="half">🗳过半数<span>233</span></div>

      <div class="cur">
        <div class="red"></div>
        <div class="blue"></div>
      </div>
      <div class="prev">
        <div class="red"></div>
        <div class="blue"></div>
      </div>
    </div>
    <div class="table"></div>
  </div>
</box>
