<div class="music_card">
  <div class="l1">
    <div class="l2">
      <div class="info">
        <div class="img"></div>
        <div class="txt">
          <div>
            <span class="title">title</span>
          </div>
          <div>
            <span class="author">author</span>
          </div>
          <div class="sync">
            <span>sync</span>
          </div>
        </div>
      </div>
    </div>

    <div class="bar">
      <div class="left">
        <span class="txt">Last played on Thursday 15:02</span>
      </div>
      <div class="right">
        <span class="day">4d</span>
        <span class="suffix">ago</span>
      </div>
    </div>
  </div>
</div>
