Sphinx==4.5.0
sphinx-comments==0.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-details-directive

sphinx-design
sphinx-comments
sphinx_jinja

sphinx-immaterial[keys]

jieba
linkify-it-py
markupsafe
pydantic
typing-extensions

git+https://github.com/rsuu/MyST-Parser@rsuu_main#egg=myst_parser

