* {
  box-sizing: border-box;
}
body {
  background: #f1f1f1;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  border-radius: 100%;
  border: 10px solid white;
  box-shadow: 4px 5px 20px 4px #00000026;
  background: linear-gradient(-45deg, #7c64c7, #4c1469, #205db1, #3863b1);
  background-size: 155% 127%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.planet {
  width: 300px;
  height: 300px;
  background: #76d1e9;
  border-radius: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    right: 0;
    top: 0;
    border-radius: 100%;
    box-shadow:
      0 0 0px rgba(255, 255, 255, 0.8),
      0 0 0 25px rgba(0, 0, 0, 0.08),
      0 0 0 55px rgba(0, 0, 0, 0.06),
      0 0 0 85px rgba(0, 0, 0, 0.04);
  }
}

.planet_area {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}
.right_continent {
  position: absolute;
  left: 127px;
  z-index: 1;
  top: -20px;
  width: 100%;
  transform: rotate(-56deg);
}
.left_continent {
  position: absolute;
  right: 148px;
  z-index: 1;
  top: 15px;
  width: 100%;
  transform: scale(0.6);
}
.border {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 9px solid #ffffff52;
  z-index: 6;
  position: relative;
}

.cloud_1 {
  position: absolute;
  top: 77px;
  right: 24px;
  z-index: 4;

  li {
    list-style: none;
    background: #ffffff59;
    border-radius: 30px;
    height: 17px;

    &:nth-child(1) {
      width: 78px;
      height: 25px;
    }
    &:nth-child(2) {
      width: 30px;
      margin-left: 34px;
      height: 5px;
      border-radius: 0;
    }
    &:nth-child(3) {
      width: 80px;
      margin-left: 24px;
    }
  }
}

.cloud_2 {
  position: absolute;
  top: 40px;
  left: 64px;
  z-index: 4;

  li {
    list-style: none;
    background: #ffffff59;
    border-radius: 30px;
    height: 20px;

    &:nth-child(1) {
      width: 50px;
    }
    &:nth-child(2) {
      width: 18px;
      margin-left: 11px;
      height: 6px;
      border-radius: 0;
    }
    &:nth-child(3) {
      width: 100px;
      margin-left: -49px;
    }
  }
}

.cloud_3 {
  position: absolute;
  top: 40px;
  left: 122px;
  z-index: 4;

  li {
    list-style: none;
    background: #ffffff59;
    border-radius: 30px;
    height: 20px;
    width: 50px;
  }
}

.cloud_4 {
  position: absolute;
  top: 177px;
  left: 88px;
  z-index: 4;

  li {
    list-style: none;
    background: #ffffff59;
    border-radius: 30px;
    height: 20px;
    width: 90px;
  }
}

.cloud_5 {
  position: absolute;
  top: 177px;
  left: 37px;
  z-index: 4;

  li {
    list-style: none;
    background: #ffffff59;
    border-radius: 30px;
    height: 20px;
    width: 45px;
  }
}

.cloud_6 {
  position: absolute;
  bottom: 10px;
  left: 19px;
  z-index: 4;

  li {
    list-style: none;
    background: #ffffff59;
    border-radius: 30px;
    height: 15px;

    &:nth-child(1) {
      width: 90px;
      height: 35px;
    }
    &:nth-child(2) {
      width: 41px;
      margin-left: 28px;
      height: 7px;
      border-radius: 0;
    }
    &:nth-child(3) {
      width: 90px;
      margin-left: 14px;
    }
  }
}

.cloud_7 {
  position: absolute;
  bottom: 10px;
  left: 130px;
  z-index: 4;

  li {
    list-style: none;
    background: #ffffff59;
    border-radius: 30px;
    height: 15px;
    width: 25px;
  }
}

.star {
  width: 6px;
  height: 6px;
  position: absolute;
  right: 95px;
  top: 58%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #c7c28f;
    display: block;
    left: 0;
    width: 141.4213%; /* 100% * √2 */
    top: 0;
    bottom: 0;
    border-radius: 5%;
    transform: rotate(66.66deg) skewX(45deg);
  }
  &::after {
    transform: rotate(156.66deg) skew(45deg);
  }
}

.star_2 {
  width: 3px;
  height: 3px;
  right: 150px;
  top: 78%;
}
.star_3 {
  width: 3px;
  height: 3px;
  left: 150px;
  top: 19%;
}
.star_4 {
  width: 5px;
  height: 5px;
  left: 50px;
  top: 38%;
}

.about {
  text-align: center;
  margin-top: 30px;
  font-size: 1em;
  font-family: "MuseoModerno", cursive;

  a {
    text-decoration: none;
    color: #76d1e9;
    font-weight: bold;
  }
}
